*{
    margin: 0%;
    color:rgb(43, 226, 180);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#FF2CDF, #0014FF);
    background-repeat: no-repeat;
}

.timer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time{
    font-size: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 100px;
}

button{
    background: none;
    height: 10vh;
    width: 25vw;
    border: 0px;
    border-radius: 20vw;
    cursor: pointer;
    font-size: 10vh;
}

button:disabled {
    opacity: 0.5;
}

.buttons{
    display: flex;
    gap: 10vh;
    margin: 70px 0;
}